
html,body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(88, 171, 176);
    color: white
}

#load{
    cursor: pointer;
}

#info{
    visibility: hidden;
}

#load{
    color: white;
}

#title, #subtitle, .postalCode, .city{
    display: flex;
    justify-content: center;
}

#subtitle{
    margin-bottom: 5em;
}

#title{
    text-shadow: 2px 7px 20px grey;
    margin-top: 5em;
}


.postalCode input, .city input{
    border-radius: 30px;
}


.postalCode{
    margin-bottom: 1em;
    margin-left: 2em ;

}

#postalCode{
    text-align: right;
}

.postalCode button{
    margin-left: 1em;
}

.city{
    margin-bottom: 15em;
}

#ville{
    border-radius: 5em;
    width: 15em;
    height: 2.5em;
}

input{
    height: 3em;
    width: 15em;
    text-align: center;
}

.postalCode button{
    border: none;
    background-color: transparent;

}

#postcode {
    text-align: left; 
    padding: 5px;
    margin-right: 10px; 
}



/* ------------------ CITY & DATE ------------------ */
.cityDate{
    text-align: center;
    margin: 1em;
}

h2{
    font-size:2.5em;
    text-shadow: -0.06em 0.1em 0.5em black;
    margin:0em;
    font-weight: lighter;
}

h3{
    margin:0em;
    font-weight: lighter;
}

/* ------------------ MAIN DATA ------------------ */
.mainData{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -0.06em 0.1em 1em black;
}

.weatherInfo{
    padding: 2em;
}

.temperature{
    font-size: 4em;
    margin: 0;
}

.sky{
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.mainInfo{
    border-radius: 1em;
    padding: 0.8em;
    background-color:rgb(255, 255, 255, 0.15);;
}

.mainInfoTop{
    display: flex;
    text-align: center;
}

.mainInfoBottom{
    display: flex;
    text-align: center;
}

.number{
    font-size: 1.75em;
    margin: 0em;
}

.textValue{
    font-size: 0.75em;
    margin: 0;
}

.data {
    padding-inline: 1.5em;
    padding-block: 0.8em;
}

/* ------------------ SUP DATA ------------------ */
.supData{
    border: 0.2em solid rgb(255, 255, 255, 0.35);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    /*text-shadow: -0.06em 0.06em 1em black;*/
    box-sizing: border-box;
    padding: 1.5em;
    margin: 1.5em auto;
    max-width: 30em;
}

.map, .rain, .wind{
    text-align: center;
}

/* ------------------ FOOTER ------------------ */
footer{
    background-color: rgb(255, 255, 255, 0.25);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

